@media ( max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        &__slider
            width: 590px
    .hotel
        &-slider
            &__image
                width: 100%
                height: 100%
                object-fit: cover
    .card
        height: 235px
        width: 235px
    .footer
        &__input
            flex-basis: 100%
@media (max-width: 992px )
    .container, .newsletter-wrapper
        max-width: 700px
      
    .logo
        width: 132px
    .navbar

        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: 38px
            margin-right: 64px
        &-menu
            padding-top: 20px
            padding-bottom: 22px
            justify-content: space-around
            &__link
                font-size: 12px
                line-height: 15px
    .search
        &__input
            width: 340px
    .hotel
        padding-bottom: 56px
        &-grid
            flex-direction: column
        &__slider
            margin-bottom: 30px
        &__right
            flex-direction: row
        &-slider
            width: 100%
    .booking
        width: 340px
        &__room
            margin-right: -5px
        &__number
            margin-right: -5px    
    .map
        width: 340px

    .user
        &__name
            margin-left: 16px
            margin-right: 10px
    .newsletter
        padding: 68px 0 71px 0
        &-tittle
            padding-top: 7px
    .reviews
        padding: 0px 0 70px 0
        &-slider
            &__text
                margin-top: 14px
            &__item
                max-width: 580px
                &:after,&:before
                    display: none
            &__avatar
                margin-bottom: -9px
            &__profile
                margin-bottom: 17px
            &__button
                top: 49%
                &--prev
                    left: 0
                &--next
                    right: 0
        &__tittle
            font-style: normal
            font-weight: bold
            font-size: 30px
            line-height: 38px
            text-align: center
            text-transform: uppercase
            margin-top: 38px
            margin-bottom: 58px
    .activities

        padding: 30px 0 50px 0
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .card
        width: 339px
        height: 255px
        &__tittle
             max-width: 200px

    .footer
        padding-top: 70px
        padding-bottom: 40px
        &-wrapper
            grid-template-columns: repeat(6, 1fr)
            grid-row-gap: 47px
        &__input
            flex-basis: 90%
        &__logo
            width: 99px
            grid-row: 1/2
            grid-column: span 2

        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
                margin-left: -55px
                margin-top: 13px
        &__categories
            grid-row: 2/3
            grid-column: span 2
        &-legal
            grid-column: span 2
            margin-left: 19px
        &__additional
            grid-column: span 2
            margin-left: -40px
        &__contact
            &-details
                grid-column: span 5
                grid-row: 3
                margin-top: 15px
            &-form
                grid-column: span 5
                grid-row: 4
        &__tittle
            
            &--mb3
                margin-bottom: 26px
        &__icon-wrapper 
             min-width: 46px
             margin-right: 2px
        &__icon-wrapper 
               min-width: 39px
               margin-left: 6px   
        &__text
        &__item
            &--mb20
                margin-bottom: 18px   
        &__input
            flex-basis: 47% 
        &__contact
            &-form
                max-width: 539px  
        &__message
            margin-bottom: 24px                   
@media (max-width: 767px ) and (orientation: landscape)
    .container
        max-width: 577px
        width: 88%
    body
        padding-top: 71px   
    .navbar
        &__mobile
            &--fixed
             position: fixed
             left: 0
             padding: 0
             top: 0
             right: 0
             z-index: 99
        &__search, &__user
            &--mobile
                &--hidden
                   display: none 
                &--visible  
                    display: flex 
                    
        &__user
            flex-direction: column
            justify-content: center 
        &-bottom
            display: none 
            position: fixed
            left: 0
            right: 0
            bottom: 0
            top: 71px
            &--visible
                display: block
            &--scroll
                overflow: scroll    
        &-menu
            flex-direction: column
            &__item
                 margin-bottom: 20px
               
        &-menu
            &__item
                margin-top: 10px
                margin-bottom: 10px         
                &--mobile 
                    &--visible
                        display: block
        &-top
            padding-top: 23px
    .menu
        &-button
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #ffff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
        &__name
             &--light
                  color: $light 
                  margin-top: 5px           
    .stars
        flex-basis: auto
    .hotel
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info

            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
    .hotel
        &__right
            flex-direction: column
            min-height: 450px
        &-slider
            height: 350px
    .booking
        width: 100%
    .map
        width: 100%
    .newsletter
        &-wrapper
            flex-direction: column
            max-width: 577px
            width: 88%
            align-items: start
    .reviews
        &-slider
            &__item
                padding: 0 30px 30px
                &:after,&:before
                    display: none
            &__button
                top: 45px
                &--prev
                    left: 30%
                    transform: translateY(-50%,0)
                    margin-left: -45px
                &--next
                    left: 74%
                    transform: translateY(50%,0)
                    margin-right: -65px
    .activities
        padding-top: 40px
        border-bottom: 60px
    .card
        width: 49%
        height: 255px
    .footer
        &__input
            flex-basis: 100%
      
        
                  
             
                      



@media (max-width: 576px)
    .logo
        width: 99px 
    .user
        &__avatar
            margin-top: 9px  
        &__name    
            margin-top: 11px  
            margin-left: 6px
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 18px
    .navbar        
        &__search
             width: 243px    
             margin-left: 64px    
             margin-top: 28px
             margin-bottom: 36px
        &-menu
            &__item
                margin-bottom: 17px
            &__item
                margin-top: 0 
                margin-bottom: 0    
    .hotel
        &__slider
            margin-bottom: 20px
        &-slider
            height: 250px
    .newsletter
        padding: 76px 0 83px 0
        &__tittle
            margin-bottom: 37px
    .subscribe
        width: 100%
    .card
        width: 100%
    .activities 
        height: 1258px
         padding-top: 45px 
      
        &__card-1
            order: 0
        &__card-2 
            order: 2
            margin-top: 7px
        &__card-3   
            order: 1
        &__card-4 
            order: 3 
    .booking
        &__room
             margin-right: 0   
        &__num
            margin-left: 8px
            margin-right: 7px               
    .footer  
        padding-top: 77px
        &-wrapper 
            grid-template-columns: 1fr
            grid-row-gap: 40px
        &__input
            flex-basis: 90%
        &__logo
            grid-row: 1
            grid-column: 1
        &__social
            &-network
                grid-row: 2
                grid-column: 1
                margin: 0
                flex-wrap: wrap
                justify-content: space-between
        &-legal
            grid-row: 3
            grid-column: 1
            margin-left: 0
            margin-top: -10px
            margin-bottom: -15px
        &__additional
            grid-row: 4
            grid-column: 1
            margin-left: 0
        &__categories
            grid-row: 5
            grid-column: 1
            margin-top: -12px
            margin-bottom: -13px
        &__contact
            &-details
                grid-row: 6
                grid-column: 1
                margin-top: 12px
               
            &-form
                grid-row: 7
                grid-column: 1
        &__tittle
            margin-bottom: 19px
             
            &--mb3
               
                margin-bottom: 10px
        &__icon-wrapper 
             min-width: 46px
             margin-right: 2px
        &__icon-wrapper 
               min-width: 26px
               margin-left: 1px   
               margin-top: 6px
        &__message
            margin-bottom: 15px
        &__text
            margin-bottom: 28px
        &__item
            &--mb20
                margin-bottom: 24px  
        &-button
            order: 1         
        &__input
            flex-basis: 100% 
        &__contact
            &-form
                max-width: 539px        
@media(max-width: 320px)
    .container
        max-width: 300px
        width: 87%
    .hotel
        padding-top: 2px
        &-info
            padding-bottom: 37px
        &__slider
            height: 179px
            margin-bottom: 22px
    .booking
        padding: 27px 21px 28px 23px
    .hotel
        padding-bottom: 0
    .newsletter
        padding-top: 45px
        padding-bottom: 86px
        &-tittle
            padding-top: 8px
            font-style: normal
            font-weight: 300
            font-size: 20px
            line-height: 25px
            &__strong
                font-style: normal
                font-weight: 600
                font-size: 30px
                line-height: 38px
                margin-bottom: 22px
    .subscribe
        &__input
            padding-left: 20px
    .card
        width: 100%
    .reviews
        max-width: 98%
        height: 611px
        &-slider
            &__avatar
                margin-bottom: -14px
                margin-top: 2px
            &__button
                top: 47px
                &--prev
                    left: 28%
                &--next
                    left: 78%
                &__profile
                    margin-bottom: 10px
                    margin-top: 1px
                &__avatar
                    margin-bottom: 10px
            &__text
                margin-top: 16px
                text-align: left
            &__username
                margin-bottom: 9px
                margin-top: 23px
        &__tittle
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px
            text-align: center
            text-transform: uppercase
            margin-bottom: 43px
           

    .activities
        height: 1247px
        padding-top: 38px
        &__tittle
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px
            text-transform: uppercase
            margin-bottom: 36px

            
                
                
                
            
                  
